---
layout: default
---

<h1 class='is-narrow'>In The News</h1>

{% for post in paginator.posts %}
  {% if post.cover %}
    <img class='cover-image' src="{{ post.cover }}">
  {% endif %}
  <h4>{{ post.title }}</h4>
  <p class='smallcaps has-text-warm-grey date-author-row'>
    {{ post.date | date: "%-d %B %Y" }} by {{ post.author }}
  </p>
  {{ post.excerpt }}
  <a href="{{ post.url }}">Read more</a>
  <div class='line-copy'></div>



{% endfor %}

{% if paginator.previous_page_path %}
  <a href="{{paginator.previous_page_path}}">Newer posts</a>
{% endif %}
{% if paginator.next_page_path %}
  <a href="{{paginator.next_page_path}}">Older posts</a>
{% endif %}
