<footer class="footer has-background-light-gray">
  <div class="container-fluid container-body-margin">
    <div class="row">
      <div class="footer-links-row">
        <a href="https://wandrer.earth/">
          <img src='assets/images/logo.svg' alt='Wandrer Logo' />
        </a>
        <a style="color: #000" href="https://wandrer.earth/about">About</a>
        <a style="color: #000" href="https://wandrer.earth/terms">Terms</a>
        <a style="color: #000" href="https://wandrer.earth/privacy">Privacy</a>
      </div>
      <div class="icon-group col-lg-2 col-md-3 offset-lg-2 d-flex justify-content-between">
          <a href="https://www.reddit.com/r/wandrer/" target="_blank">
            <img class='social-icon' src="assets/images/reddit.svg" alt='Reddit'>
          </a>
          <a href="https://www.strava.com/clubs/528504/discussion" target="_blank">
            <img class='social-icon' src="assets/images/strava.svg" alt='Strava'>
          </a>
         <a href="https://twitter.com/wandrer_earth">
           <img class='social-icon' src="assets/images/twitter.svg" alt="Twitter">
         </a>
          <a href="https://instagram.com/wandrer.earth" target="_blank">
            <img class='social-icon' src="assets/images/instagram.svg" alt="Instagram">
          </a>
      </div>
    </div>
    <div class='row'>
      <span class="small">© Wandrer <%= DateTime.now.year %>. All Rights Reserved.</span>
      <img src="assets/images/strava-api.svg" class="icon-strava-powered">
    </div>
  </div>
</footer>
