<div class='social-image'>
  <a href='#' class='social-links-trigger' data-controls='social-links'><i class='bi bi-share-fill'></i></a>
  <div class='social-links' id='social-links'>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class='bi bi-twitter'></i></a>
    <a href='#' class='link-primary'><i class='bi bi-pinterest'></i></a>
    <a href='#' class='link-primary'><i class='bi bi-facebook'></i></a>
    <a href='#' class='link-primary'><i class='bi bi-envelope'></i></a>
    <a href='#' class='link-primary'><i class='bi bi-share-fill'></i></a>
  </div>
</div>
