// COMPONENTS
html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}
body {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.header, .footer {
  flex-shrink: 0;
}

.container-body-margin {
  box-sizing: border-box;
  width: 1176px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  @media (max-width: 1223px) {
    width: 100%;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  @media (max-width: 599px) {
    width: 100%;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }
}

.breadcrumb {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  a {
    color: #e72b6a;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
