// COMPONENTS
html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}
body {
  font-family: 'Lato';
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.content {
  flex: 1 0 auto;
}
.header, .footer {
  flex-shrink: 0;
}

.container-body-margin {
  box-sizing: border-box;
  width: 1176px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  @media (max-width: 1223px) {
    width: 100%;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  @media (max-width: 599px) {
    width: 100%;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }
}

.container-post {
  display: block;
  width: 720px;
  justify-content: center;
  margin: auto;
  img {
    width: -webkit-fill-available;
  }
  @media (max-width: 1223px) {
    width: 100%
  }
}

.breadcrumb {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 1.4rem;
  padding-left: 0;
  margin-bottom: 2.4rem;
  list-style: none;
  border-radius: 0.25rem;

  a {
    color: #e72b6a;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  content: "/";
}

.date-author-row {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;

}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  @media (max-width: 599px) {
    grid-template-columns: 1fr;
  }
}

.card {
  position: relative;
  border-radius: 6px;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.1);
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin: 1.2rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.6rem 1.6rem;
  justify-content: space-between;
  box-sizing: border-box;
  a {
    padding-top: 1.6rem;
  }
  .post-excerpt p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 0;
  }
}

.social-image {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
  figure {
    order: 2;
  }
  .social-links-trigger {
  display: block;
  align-self: flex-end;
  font-size: 32px;
  padding-right: 16px;
  }
  figure {
    max-width: 100%;
  }
  .social-links {
    display: none;
    align-self: flex-end;
    &.is-active {
      font-size: 32px;
      width: 32px;
      margin-left: 24px;
      background-color: white;
      display: block;
      position: absolute;
      width: auto;
      top: 1.5em;
      right: 0;
      padding: 12px 16px;
      border-radius: 0 0 0 4px;
      margin-left: 0;
      a {
        display: block;
      }
    }
  }}

.line-copy {
    margin: 31.5px 0;
    border-bottom:1px solid #f2f2f2;
  }

.cover-image {
  height: 480px;
  width: -webkit-fill-available;
  object-fit: cover;
  @media (max-width: 599px) {
    height: 240px;
  }
}
