// FOOTER
footer {
  padding: 37px 0;
  margin-top: 1.5em;
  a {
    text-decoration: none;
  }
  .copyright-strava-api-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 2.4rem;
    margin-top: 1.5rem;

  }
  .icon-group {
    display: flex;
    justify-content: flex-start;
    gap: 2.4rem;
    a {
      margin-top: 0;
    }
    @media (max-width: 992px) {
      gap: 3.4rem;
      margin-top: 3.4rem;
      margin-bottom: 3.4rem;
      img {
        width: 4.0rem;
        height: 4.0rem;
      }

    }
    @media (max-width: 599px) {
      gap: 4.0rem;
      margin-top: 2.4rem;
    }


  }
  .icon-strava-powered {
    height: 20px;
  }
  .footer-links-icons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
      font-weight: 300;
    }
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  .footer-links-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 66%;
    align-items: center;
    @media (max-width: 599px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2.4rem;
      a {
        margin-top: 0;
      }
    }
  }
  @media (max-width: 992px) {
    padding: 24px 0;

    @media (max-width: 768px) {
      a {
        font-size: 18px;
        margin-top: 1em;
        &.btn {
          width: 50%;
          font-size: 1.25em;
        }
      }
    }
  }
}
