---
layout: default
---
<main>
  <div class=''>
    <nav aria-label='breadcrumb'>
      <ol class='breadcrumb'>
        <li class='breadcrumb-item'><a href='#'>In The News</a></li>
        <li class='breadcrumb-item'><a href='#'>Reviews</a></li>
      </ol>
    </nav>
  </div>
  <div class='container-post'>
    <h1 class='is-narrow'>{{ page.title }}</h1>
    <p class='smallcaps has-text-warm-grey date-author-row'>
      {{ page.date | date: "%-d %B %Y" }} by {{ page.author }}
    </p>
    <div class='social-image'>
      <a href='#' class='social-links-trigger' data-controls='social-links'><i class='bi bi-share'></i></a>
      <div class='social-links' id='social-links'>
        <a href='#' class='link-primary'><i class='bi bi-pinterest'></i></a>
        <a href='#' class='link-primary'><i class='bi bi-facebook'></i></a>
        <a href='#' class='link-primary'><i class='bi bi-envelope'></i></a>
        <a href='#' class='link-primary'><i class='bi bi-share-fill'></i></a>
      </div>
    </div>
    {{ content }}
    <h4>Related Stories:</h4>

    {% assign posts = "" | split: ',' %}

    {% for cat in page.categories %}
      {% for post in site.categories[cat] %}
        {% unless {{post.title}} == {{page.title}}  %}
          {% unless {{posts}} contains {{post}}  %}
            {% assign posts = posts | push: post %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
    {% endfor %}

      <small class='smallcaps has-text-warm-grey'> {% for member in posts %}{{ member.title }}{% if forloop.last != true %}, {% endif %}{% endfor %}
      </small>

    <div class="card-grid">
      {% for post in posts limit: 2 %}
        <div class="card">
          <div class="card-body">
            {% assign cats = post.categories %}
            <small class='smallcaps has-text-warm-grey'>{% for member in cats %}{{ member }}{% if forloop.last != true %}, {% endif %}{% endfor %}
            </small>
            <h4>{{ post.title }}</h4>
            <span class="post-excerpt">{{ post.excerpt }}</span>
            <a class='link has-text-bold' href="{{ post.url }}">Read article</a>
          </div>
        </div>
    {% endfor %}
    </div>
  </div>
</main>
